{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    
    <h1> {{ book.title }} </h1>
    <p> {{ book.description }} </p>
    <h3>{{book.author}}</h3>
    <small>{{book.price}}</small>

    <a class="btn btn-primary" href="{% url 'book_update' book.id %}">ویرایش</a>
    <a class="btn btn-danger" href="{% url 'book_delete' book.id %}">حذف</a>


    <!-- COMMENTS -->
    <div class="my-5" dir="rtl">
        <div class="card shadow">
            <div class="card-body">
                <h2>نظرات</h2>
                {% for comment in comments %}
                    <div class="my-3 border-bottom">
                        <h5>{{comment.user.username}}</h5>
                        <p>{{comment.text | linebreaks }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- FORM -->
    <div class="my-5" dir="rtl">
        <div class="card shadow">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-primary mt-3" type="submit" value="ارسال">
                </form>
            </div>
        </div>
    </div>


{% endblock %}