{% extends '_base.html' %}


{% block title %}
    لیست کتابها
{% endblock %}

{% block content %}
    <div class="row my-5 justify-content-center v-stack gap-1">

        {% for book in books %}
        <div class="col-lg-3">
            <div class="card shadow border-0 p-3">
                {% if book.cover %}
                    <img class="card-img-top" src="{{ book.cover.url }}" alt="{{book.title}}">
                {% endif %}
                <div class="card-body">
                    <a href="{{ book.get_absolute_url}}">{{ book.title }}</a>
                    {{ book.author }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="{% url 'book_create' %}">ایجاد کتاب</a>
{% endblock %}