{% extends '_base.html' %}

{% block title %}
    کتاب‌ها
{% endblock %}

{% block content %}
    <h2>کتاب ها</h2>
    <ul>
        {% for book in books %}
            <!-- <a href="{% url 'book' book.id %}"><li>{{book.title}}</li></a> -->
            <a href="{{ book.get_absolute_url }}"><li>{{book.title}}</li></a>
            <li>{{book.author}}</li>
            <li>{{book.description}}</li>
            <li>{{book.price}}</li>
            <br>
        {% endfor %}
    </ul>
    
    <br>

    <a href="{% url 'book_create' %}">اضافه کردن کتاب</a>

{% endblock %}